.alumni-stats {
  text-align: center;
  color: white;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.alumni-stats h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.alumni-stats p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ccc;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-bottom: 10px;
}
.icon img{
  height: 5vw;
  width: 5vw;
}

.count {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.label {
  font-size: 14px;
  color: #ccc;
}

.acontent{
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.acontent h2{
  text-align: center;
  font-size: 3.5vw;
  font-weight: 100;
  margin: 0;
}
.acontent p{
  text-align: center;
  font-size: 1.2vw;
}