.banner {
    background-image: url(../images/sailhome1.png);
    background-size: cover;
    color: white;
   
    display: flex;
    width: 100%;
    justify-content: left;
    
  }
  
  .banner-content {
    display: flex;
    width: 40%;
    flex-direction: column;
    text-align: center;
  }
  
  
  
  .about-btn {
    padding: 1vw 2vw;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 10vw;
    height: 3vw;
    font-size: 1vw;
   
  }
  .content p{
    text-align: left;
    font-size: 1.5vw;
    font-family: sans-serif;
  }
  .banner h1 {
    font-size: 4vw;
    font-family: sans-serif;
    /* width: 5vw; */
   text-align: left;
    margin-right: 2em;
   
    /* margin-left: 4vw; */
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
  margin-right: 3rem;
  margin-bottom: 7rem;
  margin-top: 7rem;
}