.team {
    padding: 50px;
    text-align: center;
   
  }
  
  .team-photo {
    width: 60%;
    margin: 30px auto;
    display: block;
    border-radius: 8px;
  }
  
  .team-btn {
    background-color: #e63946;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .tcontent{
    display: flex;
    flex-direction: column;
  }
  .tcontent h2{
    margin: 0;
    font-size: 3.5vw;
    font-weight: 100;
  }
  .tcontent p{
    text-align: center;
    margin: 1px;
  }