.alumni-stats {
  text-align: center;
  color: white;
  background: #0C405E;
  padding: 20px 10px 30px 20px;
  border-radius: 10px;
  width: 100%;
  padding-bottom: 100px;
}

.alumni-stats h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #FAFAFA;

text-align: center;
font-family: "Instrument Sans";
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 50px;
}

.alumni-stats p {
  max-width: 804.682px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  color: #EDEFF1;
text-align: center;
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 0;
width: 60%;
}

.stats-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 20px;
  width: 65%;
  
}
.stats{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.order1{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 50%;
}
.order2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.icon {
  margin-bottom: 10px;
}
.icon img{
  width: 70%;
  
  
}

.count {
  color: #FAFAFA;
text-align: center;
font-family: Fredoka;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: normal;
  margin-bottom: 5px;
}

.label {
  font-size: 25px;
  color: #FAFAFA;
text-align: center;
font-family: "DM Sans";
font-style: normal;
font-weight: 400;
line-height: normal;
}

.acontent{
  display: flex;
  flex-direction: column;
  /* padding-top: 60px; */
}

@media screen and (max-width: 768px) {
  .stats-container {
    justify-content: center; 
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .stat {
    width: 45%; 
    flex-direction: column;
  }
  .alumni-stats h2{
    font-size: 40px;
  }
  .order1{
    width: 80%;
  }
  .order2{
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .stat {
    width: 90%; 
    flex-direction: column;
    /* margin: 0; */
  }
  .alumni-stats{
    padding-bottom: 10px;
  }

  .alumni-stats h2{
    font-size: 8.5vw;
    margin-top: 0px;
    padding-top: 40px;
    margin: 0px;
  }
  .stats-container{
    gap: 25px;
  }
  .alumni-stats p{
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 2.5vw;
    line-height: 3.5vw;
    font-style: normal;
    font-weight: 400;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .order1{
    width: 100%;
  }
  .order2{
    width: 100%;
  }
  .icon{
   margin: 0;
  }
  .icon img{
    width: 35%;
  }
  .count{
    font-size: 3.5vw;
    margin: 0;
  }
  .label{
    font-size: 3.5vw;
  }
}
