.alumni-stats {
  text-align: center;
  color: white;
  background: #0C405E;
  padding: 20px 10px 30px 20px;
  border-radius: 10px;
  width: 100%;
}

.alumni-stats h2 {
  margin-bottom: 12px;
  font-size: 24px;
  color: #FAFAFA;

text-align: center;
font-family: "Instrument Sans";
font-size: 70px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.alumni-stats p {
  max-width: 804.682px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  color: #EDEFF1;
text-align: center;
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
}
.order1{
 display: flex;
 flex-direction: row;
 gap: 80px;
}
.order2{
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  margin-bottom: 10px;
}
.icon img{
  width: 50%;
  
  
}

.count {
  color: #FAFAFA;
text-align: center;
font-family: Fredoka;
font-style: normal;
font-weight: 400;
line-height: normal;
  margin-bottom: 5px;
}

.label {
  font-size: 14px;
  color: #FAFAFA;
text-align: center;
font-family: "DM Sans";
font-style: normal;
font-weight: 400;
line-height: normal;
}

.acontent{
  display: flex;
  flex-direction: column;
  /* padding-top: 60px; */
}

@media screen and (max-width: 768px) {
  .stats-container {
    justify-content: center; 
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .stat {
    width: 45%; 
    flex-direction: column;
  }
  .alumni-stats h2{
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .stat {
    width: 90%; 
    flex-direction: column;
  }
  .alumni-stats h2{
    font-size: 24px;
  }
  .alumni-stats p{
    font-size: 15px;
    padding: 20px;
    margin: 0;
  }
}
