
.banner {
  background: 
    linear-gradient(0deg, rgba(19, 19, 19, 0.86) 0%, rgba(19, 19, 19, 0.00) 100%),
    url(../../images/home/banner_img.jpeg) lightgray 0px -75px / 100% 114.94% no-repeat;
  color: white;
  height: 90vh;
  width: 100%;
  flex-shrink: 0;
  align-content: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 144px;
}

.banner-content h4 {
  color: #FAFAFA;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.banner-content h1 {
  color: #FAFAFA;
  margin: 0;
  padding: 0;
  font-family: "Instrument Sans";
  font-size: 77px;
  font-style: normal;
  font-weight: 600;
  line-height: 77px; /* 100% */
  letter-spacing: -1.76px;
  width: 30%;
  margin-top: 16px;
  margin-bottom: 46px;
}

.banner-content-button {
  display: flex;
  height: 5vw;
  padding: 16px 35px;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 10px;
  border-radius: 25px;
  background: #A50034;
  color: #EDEFF1;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.145%; /* 24.995px */
  transition: background-color 0.5s ease;
}

.banner-content-button:hover {
  background: #CF3767;
}

/* Responsive styles */

/* For tablets */
@media (max-width: 768px) {
  .banner-content {
    padding: 40px;
    justify-content: center;
    align-items: center;
  }

  .banner-content h1 {
    font-size: 5.5rem;
        line-height: 5rem;
        width: 80%;
        text-align: center;
  }

  .banner-content h4 {
    font-size: 24px;
    text-align: center;
  }

  .banner-content-button {
    font-size: 20px;
    text-align: center;
    justify-content: center;
   
  }
}

@media (max-width: 480px) {
  .banner {
    text-align: center;
  }

  .banner-content {
    padding: 80px ;
    text-align: center;
  }

  .banner-content h1 {
    font-size: 36px;
    line-height: 40px;
    width: 100%;
    margin-bottom: 20px;
  }

  .banner-content h4 {
    font-size: 12px;
  }

  .banner-content-button {
    font-size: 10px;
    margin: 0 auto;
  }
}
