.events-section {
  text-align: center;
  background: #edeff1;
  width: 100%;
  padding: 0;
}
.events-section-header-h2 {
  margin-top: 75px;
  align-self: stretch;
  color: #1f1f1f;
  text-align: center;
  font-family: "Instrument Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 104.145%;
  margin-bottom: 12px;
}
.events-section-header-p {
  align-self: stretch;
  color: #1f1f1f;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}
.events-carousel {
  margin: 50px auto;
  width: 80%;
}
.event-card {
  max-width: 80%;
  height: auto;
  padding: 18px 18px 25px 18px;
  border-radius: 25px;
  background: #edeff1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}
.event-card-image {
  width: 100%;
  height: 250px;
  border-radius: 25px;
  background: lightgray -139.816px -90.348px / 170.39% 123.785% no-repeat;
}
.event-card-title {
  color: #1f1f1f;
  text-align: left;
  font-family: "Instrument Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 104.145%;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}
.event-card-description{
  padding: 0px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 11px;
}
.event-card-description-para{
  flex: 1 0 0;
  color: #1F1F1F;
  text-align: left;
font-family: "DM Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 104.145%;
}
.event-card-button{
  display: flex;
padding: 9.905px 19.81px;
justify-content: center;
align-items: center;
gap: 8.254px;
border-radius: 20.635px;
background: #A50034;
color: #EDEFF1;

font-family: "DM Sans";
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: 104.145%;
}
.slick-slide {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Hide default slick arrows */
.slick-prev::before,
.slick-next::before {
  display: none !important; /* Ensures default arrows are not shown */
}

/* Custom arrow styles */
.custom-arrow {
  z-index: 1; /* Ensure arrows are above the slider */
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.custom-arrow img {
  width: 100%; 
  height: auto;
  pointer-events: none; /* Ensure clicks register on the parent div */
}

.custom-arrow.custom-arrow-left {
  left: -40px; 
}

.custom-arrow.custom-arrow-right {
  right: -40px; 
}


.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  display: none !important; /* Hide disabled arrows */
}


@media (max-width: 768px) {
  .events-carousel {
    margin: 30px auto;
  }
  .event-card-image{
    height: 240px;
  }

  .custom-arrow.custom-arrow-left {
    left: -30px;
}
.custom-arrow.custom-arrow-right {
  right: -30px;
}
.custom-arrow {
    z-index: 1;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  .event-card{

      max-width: 80%;
      height: auto;
      padding: 15px 15px 20px 15px;
      border-radius: 25px;
      background: #edeff1;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  }
  .acontent{
    font-size: 40px;
  }
}