.team {
  text-align: center;
  height: 100%;
  width: 100vw;
  padding: 30px;
  background: #0C405E;
}

.team h2 {
  color: #FFF;
  text-align: center;
  font-family: "Instrument Sans";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 36.027px;
}

.team p {
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
}

.team-photo {
  width: 60%; /* Adjusted size to leave room for arrows */
  height: 40%; /* Adjusted size to leave room for arrows */
  margin: 10px auto;
  display: block;
  border-radius: 25px;
  border: 2px solid #FFF;
  background-color: lightgray;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.team-btn {
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 25px;
  background: #A50034;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: background-color 0.5s ease;
}

.team-btn:hover {
  background: #CF3767;
}


.team-events-carousel .slick-slide {
  padding: 0 0;
  margin: 0;
}

/* Adjust the arrows */
.team-events-carousel .slick-prev, .team-events-carousel .slick-next {
  position: absolute;
  z-index: 2;
  color: white;
  border-radius: 50%;
}

.team-events-carousel .slick-prev {
  left: 320px; 
}

.team-events-carousel .slick-next {
  right: 320px; 
}





@media (max-width: 480px) {
   
  .team h2 {
    font-size: 2.5rem;
  }
  .team p{
    font-size: 1rem;
  }
  .team-photo{
    margin-top: 40px;
    width: 80%;
    height: 50vw;
  }
  .team-btn{
    font-size: 1rem;
    padding: 10px 20px;
  }
  

}