.about-Banner{
    background: 
    linear-gradient(0deg, rgba(19, 19, 19, 0.86) 0%, rgba(19, 19, 19, 0.00) 100%),
    url(../../images/home/banner_img.jpeg) lightgray 0px -75px / 100% 114.94% no-repeat;
  color: white;
  width: 100%;
  flex-shrink: 0;
  align-content: center;
  padding-top: 320px;
  padding-bottom: 260px;
}
.about-Banner-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
h4.about-Banner-content-h4{
    color: #FAFAFA;
    font-family: "Instrument Sans";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 104.145%;
}

.about-overall-body{
    background-color : #0c405e;
}
/* this is the styling of the overall whole page  */

/* styling of photo component ends*/
.about-blog-div{
    background-color : #0c405e;
    /* height: 100vh; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about-blog{
    padding-bottom: 20px;
    max-width: 75vw;
    
    margin: 40px auto;

    color: #EEE;
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 34.8px */
}

.about-blog-social{
    display: flex;
    margin: 10px auto;
    gap: 1rem;
    padding-bottom: 80px;
}
/* styling of social icons like insta etc */



.about-logo-imag{
    width:20%;
    margin: 50px auto;
}
/* styling of blog component ends*/
.about-team1{
    background-color: #D2CCC3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-team1-head{
    padding-top:80px;
    color: #151515;
    font-family: "Instrument Sans";
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 36.027px;  */
    margin-bottom: 0;

}
.about-team1-blog{
    max-width: 60vw;
    margin: 20px auto;
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; 
    padding-bottom:100px;
}
/* styling of card component starts */
.about-card{
    display:inline-block;
    background-color:#0c405e;
    margin-bottom: 50px;
    border-radius:20px;
}

.about-card-img{
    width:250px;
    height:350px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.about-person-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 25px auto 10px auto;
    border-radius: 10px;
}

.about-person-name{
    margin: 0;
    margin-left: 30px;
    color: #FFF;
    font-family: "Instrument Sans";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
}

.about-person-post{
    margin-left: 30px;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 104.145%; /* 26.416px */
}
.about-card-social{
    margin-left: 140px;
    display:flex;
    gap:0.2rem;
}
.about-card-social img{
    width: 80%;
}
.about-aer1{
    color: #0C405E;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 36.027px; /* 60.045% */
    padding-bottom:20px;
}

.about-aer{
    display:flex;
    gap:40px;
    /* margin: 0 auto; */
}

.about-sail{
    display: grid;                
  grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* styling of team component ends */

@media(max-width: 900px){
    .about-Banner{
        background: 
        linear-gradient(0deg, rgba(19, 19, 19, 0.86) 0%, rgba(19, 19, 19, 0.00) 100%),
        url(../../images/home/banner_img.jpeg) lightgray 0px -75px / 100% 114.94% no-repeat;
      color: white;
      width: 100%;
      flex-shrink: 0;
      align-content: center;
      padding-top: 230px;
      padding-bottom: 250px;
    }
    .about-Banner-content-h2{
        color: #FAFAFA;
        font-family: "Instrument Sans";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 104.145%;
    }
    .about-blog-div{
        background-color : #0c405e;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .about-blog{
        padding-bottom: 3vh;
        max-width: 75vw;
        
        margin: 20px auto;
    
        color: #EEE;

    text-align: center;
    font-family: "DM Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    }
    .about-blog-social{
        display: flex;
        /* margin: 10px auto; */
        gap: 0.1rem;
    }
    /* styling of social icons like insta etc */
    .about-blog-social img{
        width: 60%;
        
    }
    .about-logo-imag{
        width:20%;
        margin: 50px auto;
    }
    .about-team1-head{
        padding-top:50px;
        color: #151515;
        font-family: "Instrument Sans";
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        /* line-height: 36.027px;  */
        margin-bottom: 0;
    
    }
    .about-team1-blog{
        max-width: 60vw;
        margin: 20px auto;
        text-align: center;
        font-family: "DM Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        padding-bottom:40px;
    }
    
.about-card{
    display:inline-block;
    background-color:#0c405e;
    margin-bottom: 50px;
    border-radius:20px;
}
.about-sail .about-card:nth-child(1){
    margin-bottom: 0px;
}

.about-card-img{
    width:175px;
    height:250px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.about-person-img{
    width: 130px;
    height: 150px;
    /* object-fit: cover; */
    margin: 20px auto 10px auto;
}

.about-person-name{
    margin: 0;
    margin-left: 20px;
    color: #FFF;
    font-family: "Instrument Sans";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
}

.about-person-post{
    margin-left: 20px;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 104.145%; /* 26.416px */
}
.about-card-social{
    margin-left: 100px;
    display:flex;
    gap:0.1rem;
}
.about-card-social img{
    width: 60%;
}
.about-aer1{
    color: #0C405E;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 36.027px; /* 60.045% */
    padding-bottom:20px;
}

.about-aer{
    display:flex;
    gap:40px;
    /* margin: 0 auto; */
}

.about-sail{
    display:flex;
    gap: 40px;
}
    
    .about-sail{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns for wider screens */
        gap: 30px;
        padding-bottom:0px;
    }
    
    .about-sail > :nth-child(1) {
        grid-column: 1 / -1; /* Center the first card */
        justify-self: center; /* Center it horizontally */
    }

    .about-sail > :nth-child(2),
    .about-sail > :nth-child(3) {
        grid-column: span 1; /* Each of the next cards takes one column */
        justify-self: stretch; /* Stretch them to fill their columns */
    }
    
}

@media(max-width: 420px){
    .about-Banner{
        background: 
        linear-gradient(0deg, rgba(19, 19, 19, 0.86) 0%, rgba(19, 19, 19, 0.00) 100%),
        url(../../images/home/banner_img.jpeg) lightgray 0px -75px / 100% 114.94% no-repeat;
      color: white;
      width: 100%;
      flex-shrink: 0;
      align-content: center;
      padding-top: 240px;
      padding-bottom: 260px;
    }
    .about-Banner-content-h2{
        color: #FAFAFA;
        font-family: "Instrument Sans";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 104.145%;
    }
    .about-blog-div{
        background-color : #0c405e;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .about-blog{
        padding-bottom: 3vh;
        max-width: 75vw;
        
        margin: 20px auto;
    
        color: #EEE;

    text-align: center;
    font-family: "DM Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    }
    .about-blog-social{
        display: flex;
        /* margin: 10px auto; */
        gap: 0.1rem;
    }
    /* styling of social icons like insta etc */
    .about-blog-social img{
        width: 60%;
        
    }
    .about-logo-imag{
        width:45%;
        margin: 45px auto;
    }
    .about-team1-head{
        padding-top:50px;
        color: #151515;
        font-family: "Instrument Sans";
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        /* line-height: 36.027px;  */
        margin-bottom: 0;
    
    }
    .about-team1-blog{
        max-width: 60vw;
        margin: 20px auto;
        text-align: center;
        font-family: "DM Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        padding-bottom:40px;
    }
    
.about-card{
    display:inline-block;
    background-color:#0c405e;
    margin-bottom: 20px;
    border-radius:10px;
}
.about-sail .about-card:nth-child(1){
    margin-bottom: 0px;
}

.about-card-img{
    width:110px;
    height:160px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.about-person-img{
    width: 80px;
    height: 100px;
    /* object-fit: cover; */
    margin: 15px auto 10px auto;
}

.about-person-name{
    margin: 0;
    margin-left: 15px;
    color: #FFF;
    font-family: "Instrument Sans";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 500;
}
h4.about-Banner-content-h4{
    font-size: 2.5rem;
}

.about-person-post{
    margin-left: 15px;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 0.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 104.145%; /* 26.416px */
}
.about-card-social{
    margin-left: 60px;
    display:flex;
    gap:0.01rem;
}
.about-card-social img{
    width: 60%;
}
.about-aer1{
    color: #0C405E;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 36.027px; /* 60.045% */
    padding-bottom:20px;
}

.about-aer{
    display:flex;
    gap:20px;
    /* margin: 0 auto; */
}

.about-sail{
    display:flex;
    gap: 20px;
}
    
    .about-sail{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns for wider screens */
        gap: 20px;
        padding-bottom:0px;
    }
    
    .about-sail > :nth-child(1) {
        grid-column: 1 / -1; /* Center the first card */
        justify-self: center; /* Center it horizontally */
    }

    .about-sail > :nth-child(2),
    .about-sail > :nth-child(3) {
        grid-column: span 1; /* Each of the next cards takes one column */
        justify-self: stretch; /* Stretch them to fill their columns */
    }
    
}