.overall-body{
    background-color : #0c405e;
}
/* this is the styling of the overall whole page  */

.about_img{
    width:100vw;
    height:90vh;
}

/* styling of photo component ends*/
.blog-div{
    background-color : #0c405e;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.blog{
    padding-bottom: 100px;
    max-width: 75vw;
    
    margin: 20px auto;

    color: #EEE;
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 34.8px */
}

.blog-social{
    display: flex;
    margin: 10px auto;
    gap: 1rem;
}
/* styling of social icons like insta etc */



.logo-imag{
    width:20%;
    margin: 50px auto;
}
/* styling of blog component ends*/
.team1{
    background-color: #D2CCC3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.team1-head{
    padding-top:150px;
    height:60px;
    color: #151515;
    font-family: "Instrument Sans";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 36.027px; 

}
.team1-blog{
    width: 1100px;
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; 
    padding-bottom:100px;
}
/* styling of card component starts */
.card{
    display:inline-block;
    background-color:#0c405e;
    margin-bottom: 100px;
    border-radius:20px;
   
}

.card-img{
    width:350px;
    height:500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.person-img{
    object-fit: cover;
    margin: 30px auto 10px auto;
}

.person-name{
    margin-left: 30px;
    color: #FFF;
    font-family: "Instrument Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 85.561%; /* 27.128px */

}

.person-post{
    margin-left: 30px;
    margin-bottom: 15px;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 104.145%; /* 26.416px */
}
.card-social{
    margin-left: 220px;
    display:flex;
    gap:1rem;
}

.aer1{
    color: #0C405E;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 36.027px; /* 60.045% */
    padding-bottom:50px;
}

.aer{
    display:flex;
    gap:40px;
    /* margin: 0 auto; */
}

.sail{
    display:flex;
    gap: 40px;
    padding-bottom:100px;
}
/* styling of team component ends */







