

.about-Banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: 
    linear-gradient(0deg, rgba(19, 19, 19, 0.69) 0%, rgba(19, 19, 19, 0.39) 100%),
    url(../../images/Initiatives/initiative-banner.png) lightgray 0px -75px / 100% 114.94% no-repeat;
    width: 100%;
}
.about-Banner-content{
    display: flex;
    flex-direction: column;
    scale: 0.8;
}


.about-Banner-content-h2{
    color: #FAFAFA;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 104.145%; /* 72.902px */
}

.about-overall-body{
    background-color : #0c405e;
}
/* this is the styling of the overall whole page  */

/* styling of photo component ends*/
.about-blog-div{
    background-color : #0c405e;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about-blog{
    padding-bottom: 10vh;
    max-width: 75vw;
    
    margin: 20px auto;

    color: #EEE;
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 34.8px */
}

.about-blog-social{
    display: flex;
    margin: 10px auto;
    gap: 1rem;
}
/* styling of social icons like insta etc */



.about-logo-imag{
    width:20%;
    margin: 50px auto;
}
/* styling of blog component ends*/
.about-team1{
    background-color: #D2CCC3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-team1-head{
    padding-top:150px;
    color: #151515;
    font-family: "Instrument Sans";
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 36.027px;  */
    margin-bottom: 0;

}
.about-team1-blog{
    max-width: 60vw;
    margin: 20px auto;
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; 
    padding-bottom:100px;
}
/* styling of card component starts */
.about-card{
    display:inline-block;
    background-color:#0c405e;
    margin-bottom: 100px;
    border-radius:20px;
}

.about-card-img{
    width:350px;
    height:500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.about-person-img{
    object-fit: cover;
    margin: 30px auto 10px auto;
}

.about-person-name{
    margin-left: 30px;
    color: #FFF;
    font-family: "Instrument Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 85.561%; /* 27.128px */

}

.about-person-post{
    margin-left: 30px;
    margin-bottom: 15px;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 104.145%; /* 26.416px */
}
.about-card-social{
    margin-left: 220px;
    display:flex;
    gap:1rem;
}

.about-aer1{
    color: #0C405E;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 36.027px; /* 60.045% */
    padding-bottom:50px;
}

.about-aer{
    display:flex;
    gap:40px;
    /* margin: 0 auto; */
}

.about-sail{
    display:flex;
    gap: 40px;
    padding-bottom:100px;
}
/* styling of team component ends */

@media(max-width: 768px){
    .about-Banner{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;
        background: 
        linear-gradient(0deg, rgba(19, 19, 19, 0.69) 0%, rgba(19, 19, 19, 0.39) 100%),
        url(../../images/home/banner_img.jpeg) lightgray 0px -75px / 100% 114.94% no-repeat;
        width: 100%;
    }
    .about-Banner-content-h2{
        color: #FAFAFA;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 104.145%; /* 37.492px */
    }
    .about-blog-div{
        background-color : #0c405e;
        min-height: 80vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .about-blog{
        padding-bottom: 5vh;
        max-width: 75vw;
        
        margin: 20px auto;
    
        color: #EEE;

    text-align: center;
    font-family: "DM Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    }
    .about-blog-social{
        display: flex;
        /* margin: 10px auto; */
        gap: 0.4rem;
    }
    /* styling of social icons like insta etc */
    .about-blog-social img{
        width: 80%;
        
    }
    .about-logo-imag{
        width:20%;
        margin: 50px auto;
    }
    .about-team1-head{
        padding-top:50px;
        color: #151515;
        text-align: center;
        font-family: "Instrument Sans";
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 0;
        /* line-height: 36.027px; */

    }
    .about-team1-blog{
        max-width: 60vw;
        margin: 20px auto;
        color: #151515;

        text-align: center;
        font-family: "DM Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; 
        padding-bottom:25px;
    }
    .about-aer1{
        color: #0C405E;
        text-align: center;
        font-family: "Instrument Sans";
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 36.027px;
        padding-bottom:25px;
    }
    .about-card{
        display:inline-block;
        background-color:#0c405e;
        margin-bottom: 50px;
        border-radius:10px;
    }
    .about-card-img{
        width:150px;
        height:200px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    
    .about-person-img{
        height: 100px;
        width: 100px;
        object-fit: cover;
        margin: 20px auto 10px auto;
        border-radius: 7px;
    }
    
    .about-person-name{
        margin-left: 25px;
        color: #FFF;
        font-family: "Instrument Sans";
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 5px; /* 27.128px */
    
    }
    
    .about-person-post{
        margin-left: 25px;
        margin-bottom: 10px;
        color: #FFF;
        font-family: "DM Sans";
        font-size: 9px;
        font-style: normal;
        font-weight: 300;
        line-height: 5px;

    }
    .about-card-social{
        margin-left: 70px;
        display:flex;
        gap:0.1rem;
    }
    .about-card-social img{
        width: 50%;
    }
    .about-aer{
        display:flex;
        gap:40px;
        /* margin: 0 auto; */
    }
    
    .about-sail{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns for wider screens */
        gap: 30px;
        padding-bottom:0px;
    }
    
    .about-sail > :nth-child(1) {
        grid-column: 1 / -1; /* Center the first card */
        justify-self: center; /* Center it horizontally */
    }

    .about-sail > :nth-child(2),
    .about-sail > :nth-child(3) {
        grid-column: span 1; /* Each of the next cards takes one column */
        justify-self: stretch; /* Stretch them to fill their columns */
    }
    
}





